<!DOCTYPE html>
<head>
    <title>Music</title>
    <!-- core styling -->
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->

    <!-- app styling -->
    <link rel="stylesheet" href="css/app.css">
    <!--<link rel="stylesheet" href="css/app-tablet.css">-->
    <!--<link rel="stylesheet" href="css/app-phone.css">-->
    <!--<link rel="stylesheet" href="css/app-large-phone.css">-->

    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie9.css" />
    <![endif]-->

    <!-- initial view should be zoomed correctly on mobile -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">-->

    <!-- attempt to fix background-position:fixed not working on android and ios -->
    <!--<meta name="viewport" content="width=device-width, height=3000px, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">-->
    <meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- apple ios specific styling. fullscreen and translucent status bar. -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Load the script "js/main.js" as our entry point, along with requirejs -->
    <!--<script type="text/javascript" src="js/lib/fastButton.js"></script>-->
    <script data-main="js/main" src="js/lib/require/require.js"></script>


</head>
<body>


<div class="main-containing-column">



    <!-- header -->
    <div class="header floating-header">



        <!--<div id="menuContainer" class="menu-container">-->
        <!--<a id="menuButton" href="javascript:void 0;" class="menu-button">menu</a>-->

        <img id="menuButton" src="images/nav-button.png" class="nav-button">
        <div id="menu" class="menu">

            <div id="soundControls" class="sound-controls">
                <a id="playButton" href="javascript:0" class="button blue-box">play</a>
                <!--<a id="stopButton" href="javascript:0" class="button red-box">stop</a>-->
                <!--<a href="javascript:0" class="button">Hello</a>-->
                <!--<a href="javascript:0" class="button">Hello</a>-->
            </div>
        </div>


        <!--</div>-->

        
    </div>


    <div id="musicItemsGridWidgetContainer" class="music-items-grid-widget-container">
        loading..
    </div>

    <div id="bg">
        <img src="http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg" alt="">
    </div>
</div>


<!-- scripts at the bottom -->
<!-- initial load of the page will contain json data for template rendering. -->
<script type="text/javascript">
    var viewModel = {{- JSON.stringify(viewModel)}};
</script>

<!-- core lib -->



<!-- templates -->
<script id="musicItemsTableTemplate" type="text/html">

    <div id="musicItemsTable" class="music-items-table">
         <div id="musicItemsTableBody" class="music-items-table-body">
             <% for (var i in musicItems) {
             var musicItem = musicItems[i];
             var rowClass = i%2 == 0 ? "even-music-item" : "odd-music-item";
             %>
             <div class="top-glass">
                 <div id="musicItem_<%=musicItem.id%>" class="music-items-table-row <%=rowClass%>" data-musicItemId="<%=musicItem.id%>">
                     <div class="music-item-artist"><%=musicItem.artist%></div>
                     <div class="music-item-song-name"><%=musicItem.songName%></div>
                     <div class="music-item-album"><%=musicItem.album%></div>
                 </div>
             </div>

             <%}%>
         </div>
    </div>

</script>

<script id="musicItemsTableRowsTemplate" type="text/html">
    <% for (var i in musicItems) {
    var musicItem = musicItems[i];
    var rowClass = i%2 == 0 ? "even-music-item" : "odd-music-item";
    %>
    <div class="top-glass">
        <div id="musicItem_<%=musicItem.id%>" class="music-items-table-row <%=rowClass%>" data-musicItemId="<%=musicItem.id%>">
            <div class="music-item-artist"><%=musicItem.artist%></div>
            <div class="music-item-song-name"><%=musicItem.songName%></div>
            <div class="music-item-album"><%=musicItem.album%></div>
        </div>
    </div>
    <%}%>
</script>


</body>
</html>


