
    <div id="previousButtonContainer">
        <img id="previousButton" alt="previous button" src="images/previous-button.png">
    </div>
    <div id="playPauseButtonContainer">
        <img id="playButton" alt="play button" src="images/play-button.png">
        <img id="pauseButton" alt="pause button" src="images/pause-button.png">
    </div>
    <div id="nextButtonContainer">
        <img id="nextButton" alt="next button" src="images/next-button.png">
    </div>
    <div id="progressBar">
        <div id="progressBarInner">&nbsp;</div>
    </div>