html, body{
  //height:100%;
  //min-height: 100%;
  width: 100%;
  //height:100%;
  padding:0;
  margin:0;

  font-family: Helvetica, Arial, sans-serif;

  height:100%;
}

//body{
//  //background-attachment: fixed;
//  background: url(../images/background-ocean.png) no-repeat fixed center top #173F5D;
//  //-webkit-background-size: cover;
//  background-size: 100% 100%;
//  //background-origin: content-box;
//
//}
//body-stretches-on-ios-bad{
//  background: url(../images/background-ocean.png) no-repeat top center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//
////stretched on ios. no scroll on android.
//body-2{
//  background: black url(../images/background-ocean.png) no-repeat top center fixed;
//  -webkit-background-size: auto;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}


//
//*{
//  -webkit-backface-visibility: hidden;
//}



.background{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;


  img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    //z-index: -22;
  }
}
.pages{
  margin-top:50px;
  //height:100%;
  //min-height: 100%;
  width:100%;
/*!!needed to allow menu to be placed below navbar*/
  z-index:2;

  //improves scrolling performance, but header is all messed up. not so great on android.  better for chrome.
  //overflow: scroll;
  //-webkit-overflow-scrolling: touch;
  height:100%;
}