@import "src/css-preprocess/core/media-queries";
@import "src/css-preprocess/core/colors";
@import "src/css-preprocess/core/grids";

.song-controls{
  @extend .inline-block-grid;

  width:100%;
  height: 100%;

  .button{
    //line-height: 13px;
    //background-color: #008000;
    display: inline-block;
    text-align: center;
    //padding: 3%;
    height: 90%;
    @extend .inline-block-grid-cell;
  }

  #previousButtonContainer{
    @extend .button;
    width:33.33%;
    #previousButton{
      height:100%;
    }
  }

  #playPauseButtonContainer{
    @extend .button;
    width:33.33%;
    #playButton{
      height:100%;
    }
    #pauseButton{
      display:none;
      height:100%;
    }
  }

  #nextButtonContainer{
    @extend .button;
    width:33.33%;
    #nextButton{
      height:100%;
    }
  }

  #progressBar{
    @extend .inline-block-grid-cell;
    width:100%;
    background-color:black;
    display: inline-block;
    height:10%;

    vertical-align:top;
    //we will set the width of this as time updates on the song occur
    #progressBarInner{
      @extend .blue-glass;
      height: 100%;
    }
  }

}