//@import "src/css-preprocess/_variables";
@import "src/css-preprocess/core/media-queries";
@import "src/css-preprocess/core/colors";
@import "src/css-preprocess/core/rounded-corners";
@import "src/css-preprocess/core/grids";
@import "src/css-preprocess/util/speed";

//scaffold
#header{
  //position:fixed;
  width:100%;
  z-index: 5;
  //contains song controls, search, progress bar etc. some things are hidden until expanded
  #navbar{
    //positioning
    position:relative;
    top:-100px; //hide the navbarExpanded so it can expand down

    //sizing
    height: 150px;
    width:100%;
    //transition
    @extend .navbar-transition;
    //border radius
    @extend .bottom-border-radius-5;
    //shadow
    @extend .shadow-a;
    //color
    @extend .transparent-black-2;

    //@extend .speed;  //no improvement
    //more items for searching, current item playing, etc.
    #expandedNavBar{
      width:100%;

      //bugs:
      //android 4.0 - if has focus, when you scroll, the text input scrolls
      //android 2.2 & 2.3 - when focus occurs, scrolls page up to the top. when focus is lost (eg other item clicked) scrolls again to the top.
      #search{ //text input
        width:100%;
        height:30px;
      }

      #songInfo{
        width:100%;
        #currentArtist{
          width:100%;
          text-align: center;
          font-size:140%;
        }
        #currentSong{
          width:100%;
          text-align: center;
        }
      }
    }

    //menu button, stop, play, etc.
    #menuCollapsed{
      //positioning
      @extend .inline-block-grid;
      position:absolute;
      bottom:0;
      //sizing
      height:50px;
      width:100%;
      //menu button
      #menuButtonContainer{
        //positioning
        @extend .inline-block-grid-cell;
        //sizing
        width:10%;
        min-width: 50px; //keep the song controls from overlapping.
        heigth: 100%;

        //children
        #menuButton{
          height:100%;//shrinks down button
        }
      }

      //song controls
      #songControlsWidget{
        @extend .inline-block-grid-cell;
        position:relative;
        width: 65%;
        text-align: right;
        height:100%;
        vertical-align: top;
      }

      //navbar expanded toggle
      #grabber{
        @extend .inline-block-grid-cell;
        text-align:right;
        position: relative;
        width:20%;
        #grabberButton{
          height:100%;
        }
      }
    }
  }

  //gets added to #navbar when user toggles expanded visibility.
  .navbar-expanded{
    top:0px !important;
  }

  //contains menu items for navigation
  #menuExpanded{
    display: none; //todo: only do this in android 2.3 as it negates transforms.

    //positioning
    top:0;
    left:0;
    z-index: 6;
    position:fixed; //this breaks android 2.3 transform on this element.
    margin-top:20px;
    z-index:3;

    //sizing
    width:50%;
    padding:5px 5px 5px 5px;

    //shadow
    @extend .shadow-c;

    //color
    @include black-transparent-gradient; //todo: this doesn't work with inheritance(extend). something to think about.

    //children
    //list of menu items
    ul{
      height:100%;
      list-style:none;
      padding:0;
      margin-top:7px;
      margin-left:5px;

      li{
        //positioning
        display: inline-block;
        margin-left: 0px;
        margin-right: -3px; //ul makes us have this spacing that i can't get rid of without doing this
        //padding
        padding: 0px 3px 0px 3px;
        //shadow
        @extend .shadow-b;

        a{
          text-decoration: none;
          text-shadow: 0 1px 5.7px 0 rgba(0,0,0,.58);
          font-weight: bold;
          font-size: 30px;
          color: rgb(80,125,175);
          padding-right: 20px;
          padding-left:20px;
        }
      }

      li:first-child{
        @extend .top-border-radius-7;
      }

      li:last-child{

      }
    }
  }
  //menu is not visible by default for small devices.
  .menu-expanded-shown{
    display: block !important; //must override #menu... id selector as it has priority
    //margin-left:-5px;//fix android 2.3
  }

}


//rules.

//when navbar is expanded or collapsed, this transition will be used.
.navbar-transition{
  transition: all .2s;
  -moz-transition: all .2s; /* Firefox 4 */
  -webkit-transition: all .2s; /* Safari and Chrome */
  -o-transition: all .2s; /* Opera */
  //@extend .speed; //no improvement
}

//rounded corners on bottom of navbar
.bottom-border-radius-5{
  border:none 5px #000000;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

//menuExpanded li first
.top-border-radius-7{
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

//navbar shadow
.shadow-a{
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,.52);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.52);
  box-shadow: 0 4px 8px rgba(0,0,0,.52);
}

//menu item shadow
.shadow-b{
  -moz-box-shadow:
    inset 0 1px 0 rgba(255,255,255,.2),
    0 0 0 1px rgba(49,49,49,.2),
    inset 0 0 3px rgba(255,255,255,.63);
  -webkit-box-shadow:
    inset 0 1px 0 rgba(255,255,255,.2),
    0 0 0 1px rgba(49,49,49,.2),
    inset 0 0 3px rgba(255,255,255,.63);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,.2),
    0 0 0 1px rgba(49,49,49,.2),
    inset 0 0 3px rgba(255,255,255,.63);
}

.shadow-c{
  -moz-box-shadow:
    0 1px 5px rgba(0,0,0,.99),
    inset 0 0 18px rgba(27,27,27,.15);
  -webkit-box-shadow:
    0 1px 5px rgba(0,0,0,.99),
    inset 0 0 18px rgba(27,27,27,.15);
  box-shadow:
    0 1px 5px rgba(0,0,0,.99),
    inset 0 0 18px rgba(27,27,27,.15);
}
