.speed{
  ////definite improvement!!
  transform: translate(0px,0px);
  -ms-transform: translate(0px,0px); /* IE 9 */
  -webkit-transform: translate(0px,0px); /* Safari and Chrome */
  -o-transform: translate(0px,0px); /* Opera */
  -moz-transform: translate(0px,0px); /* Firefox */
}