/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/*html, body{*/
    /*height: 100%; *//* for overlapped styling in the header, and for % heights, all containers must have height set */
    /*width:100%;*/
    /*background: white; *//* gradient repeats issue fix. just show the last color stop of the gradient (bottom)*/




/*}*/

html{
    height: 100%; /* for overlapped styling in the header, and for % heights, all containers must have height set */
    width:100%;

    /*fix background css gradient repeating http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

body{
    height: 100%; /* for % heights, all containers must have height set */
    width:100%;

    /*fix background css gradient repeating http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
    margin: 0;
    /*works for desktop, not phones*/
    /*background: #fff URL('http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg') top center fixed repeat;*/

}

/*genius solution for getting fixed background image: http://snipplr.com/view/52718/ */
#bg {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
}
#bg img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
}

.floating-header{
    height: 100px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* padding: 10px 10px 60px 20px;//top right bottom left

         border: 1px solid black;
       -moz-border-radius: 25px;
       -webkit-border-top-right-radius: 25px;
       -webkit-border-bottom-right-radius: 25px;
       -webkit-border-bottom-left-radius: 25px;
       border-radius: 25px;*/

    padding-top: 10px;
}

.main-containing-column{
    width:100%;
    height: 100%; /* for % heights, all containers must have height set */

}


.music-items-grid-widget-container{
    width:100%;
    height: 100%; /* for % heights, all containers must have height set */
    padding: 1%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

    position: relative;
    z-index: 2;

}

.music-items-table{
     width: 100%;
    height: 100%; /* for % heights, all containers must have height set */
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}


.music-items-table-body{
    width:100%;
    height: 100%; /* for % heights, all containers must have height set */
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.top-glass{
    height:50px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.22) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.22)), color-stop(6%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}

.music-items-table-row {
    width: 100%;
    height: 50px; /* using % here is a performance hit! scrolling stutters*/
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    margin-top: 1px;
}

.music-items-table-row > div {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;



}

.music-item-artist{

    width: 25%;
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
}

.music-item-song-name{
    width: 48%;
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
}

.music-item-album{
    width: 25%;
    /*text-overflow: ellipsis-word;*/
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
}


.even-music-item, .odd-music-item{
    font-family: 'PT Sans', arial, serif;
    color:#ffffff;
    /*text-align:center;*/
    font-size:12px;
    font-weight:bold;

    padding:10px;

    text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;


    background: -moz-linear-gradient(left,  rgba(255,255,255,0.1) 0%, rgba(79,79,79,0.05) 1%, rgba(79,79,79,0.12) 3%, rgba(79,79,79,0.12) 50%, rgba(79,79,79,0.12) 97%, rgba(79,79,79,0.05) 99%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.1)), color-stop(1%,rgba(79,79,79,0.05)), color-stop(3%,rgba(79,79,79,0.12)), color-stop(50%,rgba(79,79,79,0.12)), color-stop(97%,rgba(79,79,79,0.12)), color-stop(99%,rgba(79,79,79,0.05)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1affffff',GradientType=1 ); /* IE6-9 */



}

/*********************************************************************************************** Buttons ********************************************/
.stop-button{
    width:100px;
    height: 50px;

    font-family: 'PT Sans', arial, serif;
    color:#ffffff;
    text-align:center;
    font-size:24px;
    font-weight:bold;

    padding:10px;

    text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(0,0,0,0.25);

    box-shadow:
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}



/*background-repeat: no-repeat;*/
/*background-attachment: fixed;*/
/*background-image:url('http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg');*/




/*background: rgb(27,27,27); *//* Old browsers */
/*background: -moz-linear-gradient(left,  rgba(27,27,27,1) 1%, rgba(66,66,66,1) 17%, rgba(73,73,73,1) 48%, rgba(56,56,56,1) 79%, rgba(27,27,27,1) 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(27,27,27,1)), color-stop(17%,rgba(66,66,66,1)), color-stop(48%,rgba(73,73,73,1)), color-stop(79%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); *//* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* IE10+ */
/*background: linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#1b1b1b',GradientType=1 ); *//* IE6-9 */






/*background-image:url('http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg');*/
/*background-repeat: no-repeat;*/
/*background-attachment: fixed;*/
/*background-repeat:no-repeat; *//*repeat will not occur on desktop*/
/*background-attachment:fixed !important;*//*this does not work on iphone & android. they will get the repeat declared above.*/