/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/*html, body{*/
    /*height: 100%; *//* for overlapped styling in the header, and for % heights, all containers must have height set */
    /*width:100%;*/
    /*background: white; *//* gradient repeats issue fix. just show the last color stop of the gradient (bottom)*/

/*}*/

html{
    height: 100%; /* for overlapped styling in the header, and for % heights, all containers must have height set */
    width:100%;

    /*fix background css gradient repeating http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
    margin: 0;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/

}

body{
    height: 100%; /* for % heights, all containers must have height set */
    width:100%;

    /*fix background css gradient repeating http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
    margin: 0;
    /*works for desktop, not phones*/
    /*background: #fff URL('http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg') top center fixed repeat;*/

}

/*genius solution for getting fixed background image: http://snipplr.com/view/52718/ */
#bg {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
    /*-webkit-backface-visibility: hidden;*/
}
#bg img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
    /*-webkit-backface-visibility: hidden;*/
}

.floating-header{
    height: 70px;
    padding: 5px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    margin-bottom: 10px;
    /*padding-top: 15px;*/
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

    -webkit-backface-visibility: hidden;

    /* IE10 Consumer Preview */
    /*background-image: -ms-radial-gradient(left top, circle farthest-corner, #4F4F4F 0%, #000000 100%);*/

    /* Mozilla Firefox */
    /*background-image: -moz-radial-gradient(left top, circle farthest-corner, #4F4F4F 0%, #000000 100%);*/

    /* Opera */
    /*background-image: -o-radial-gradient(left top, circle farthest-corner, #4F4F4F 0%, #000000 100%);*/

    /* Webkit (Safari/Chrome 10) */
    /*background-image: -webkit-gradient(radial, left top, 0, left top, 994, color-stop(0, #4F4F4F), color-stop(1, #000000));*/

    /* Webkit (Chrome 11+) */
    /*background-image: -webkit-radial-gradient(left top, circle farthest-corner, #4F4F4F 0%, #000000 100%);*/

    /* W3C Markup, IE10 Release Preview */
    /*background-image: radial-gradient(circle farthest-corner at left top, #4F4F4F 0%, #000000 100%);*/

    background: rgb(48,48,48); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(48,48,48,1) 0%, rgba(51,51,51,1) 48%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,48,48,1)), color-stop(48%,rgba(51,51,51,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(48,48,48,1) 0%,rgba(51,51,51,1) 48%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(48,48,48,1) 0%,rgba(51,51,51,1) 48%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(48,48,48,1) 0%,rgba(51,51,51,1) 48%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(48,48,48,1) 0%,rgba(51,51,51,1) 48%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */





    /*-webkit-box-shadow:0px 5px 14px 0px rgba(51, 51, 51, 100),  2px 2px 2px #333333;*/
    /*-moz-box-shadow:0px 5px 14px 0px rgba(51, 51, 51, 100),  2px 2px 2px #333333;*/
    /*-o-box-shadow:0px 5px 14px 0px rgba(51, 51, 51, 100),  2px 2px 2px #333333;*/
    /*-ms-box-shadow:0px 5px 14px 0px rgba(51, 51, 51, 100),  2px 2px 2px #333333;*/
    /*box-shadow:0px 5px 14px 0px rgba(51, 51, 51, 100),  2px 2px 2px #333333;*/


    -webkit-border-radius:0px 0em 4.5px 7.0px;
    -moz-border-radius:0px 0em 4.5px 7.0px;
    -o-border-radius:0px 0em 4.5px 7.0px;
    -ms-border-radius:0px 0em 4.5px 7.0px;
    border-radius:0px 0em 4.5px 7.0px;
}

.main-containing-column{
    width:100%;
    height: 100%; /* for % heights, all containers must have height set */
    /*-webkit-backface-visibility: hidden;*/
}


.music-items-grid-widget-container{
    width:100%;
    height: 100%; /* for % heights, all containers must have height set */
    padding: 1%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

    position: relative;
    z-index: 2;

}

.music-items-table{
     width: 100%;
    height: 100%; /* for % heights, all containers must have height set */
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    -webkit-backface-visibility: hidden;
}


.music-items-table-body{
    width:100%;
    height: 100%; /* for % heights, all containers must have height set */
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    -webkit-backface-visibility: hidden;
}

.top-glass{
    height:50px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.22) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.22)), color-stop(6%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0.22) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}

.music-items-table-row {
    width: 100%;
    height: 50px; /* using % here is a performance hit! scrolling stutters*/
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    margin-top: 1px;
}

.music-items-table-row > div {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

    -webkit-backface-visibility: hidden;


}

.music-item-artist{

    width: 24%;


}

.music-item-song-name{
    width: 48%;
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
    color:#D6EBFF;
}

.music-item-album{
    width: 24%;
    color:#FFFFCC;

    /*text-overflow: ellipsis-word;*/
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
}


.even-music-item, .odd-music-item{
    font-family: 'PT Sans', arial, serif;
    color:#ffffff;
    /*text-align:center;*/
    font-size:12px;
    font-weight:bold;

    padding:10px;

    text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;


    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;


    background: -moz-linear-gradient(left,  rgba(255,255,255,0.1) 0%, rgba(79,79,79,0.05) 1%, rgba(79,79,79,0.12) 3%, rgba(79,79,79,0.12) 50%, rgba(79,79,79,0.12) 97%, rgba(79,79,79,0.05) 99%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.1)), color-stop(1%,rgba(79,79,79,0.05)), color-stop(3%,rgba(79,79,79,0.12)), color-stop(50%,rgba(79,79,79,0.12)), color-stop(97%,rgba(79,79,79,0.12)), color-stop(99%,rgba(79,79,79,0.05)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.05) 1%,rgba(79,79,79,0.12) 3%,rgba(79,79,79,0.12) 50%,rgba(79,79,79,0.12) 97%,rgba(79,79,79,0.05) 99%,rgba(255,255,255,0.1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1affffff',GradientType=1 ); /* IE6-9 */

    -webkit-backface-visibility: hidden;

}





/* ======================================================================================== common styling ==================================================================================================================================*/
.blue-box, .red-box{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

    -webkit-border-radius:4.5px;
    -moz-border-radius:4.5px;
    -o-border-radius:4.5px;
    -ms-border-radius:4.5px;
    border-radius:4.5px;

    padding: 1%;
}

.red-box{
    background: rgb(219,46,48); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(219,46,48,1) 0%, rgba(186,41,39,1) 44%, rgba(186,50,50,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,46,48,1)), color-stop(44%,rgba(186,41,39,1)), color-stop(100%,rgba(186,50,50,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(219,46,48,1) 0%,rgba(186,41,39,1) 44%,rgba(186,50,50,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(219,46,48,1) 0%,rgba(186,41,39,1) 44%,rgba(186,50,50,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(219,46,48,1) 0%,rgba(186,41,39,1) 44%,rgba(186,50,50,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(219,46,48,1) 0%,rgba(186,41,39,1) 44%,rgba(186,50,50,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2e30', endColorstr='#ba3232',GradientType=0 ); /* IE6-9 */

}

.blue-box{


    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}

.dark-glass, .menu-button{
    padding:10px;


    text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(0,0,0,0.25);

    box-shadow:
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}



/*********************************************************************************************** Menu *********************************************************************************************************************/


.button, .menu-button{
    font-family: 'PT Sans', arial, serif;
    color:#ffffff;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    text-decoration: none;
}

.menu-button{
    width:100px;
    height: 50px;
    margin-left:1%;
    -webkit-backface-visibility: hidden;

}

/*.menu-button img{*/
    /*height:50px;*/
/*}*/
.nav-button{
    height:100%;
    /*width:50%;*/
    /*margin-bottom: 10px;*/
}
.menu{
    /*margin-top: 9px;*/
    /*z-index: 200;*/
    height: 0px;
    width: 90%;
    height: 200px;
    padding: 3%;
    /*margin-top: -240px;  don't do this as it causes the bg to shutter on click*/

    transform: translate(0px,-275px);
    -ms-transform: translate(0px,-275px);
    -webkit-transform: translate(0px,-275px);
    -o-transform: translate(0px,-275px);
    -moz-transform: translate(0px,-275px);

    /*margin-left: 50%;*/
    /*margin-right: 50%;*/
    margin-left: 5%;
    margin-right: 15%;

    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;

    -webkit-border-radius:4.5px;
    -moz-border-radius:4.5px;
    -o-border-radius:4.5px;
    -ms-border-radius:4.5px;
    border-radius:4.5px;

    /*background-color:black;*/

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );


    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;

    -webkit-backface-visibility: hidden;


}

.menu-container{

}

.menu-slide-down{
    /*transform: translate(0px,200px);*/
    /*-ms-transform: translate(0px,200px);*/
    /*-webkit-transform: translate(0px,200px);*/
    /*-o-transform: translate(0px,200px);*/
    /*-moz-transform: translate(0px,200px);*/

    /*transform: translateY(200px);*/
    /*-ms-transform: translateY(200px);*/
    /*-webkit-transform: translateY(200px);*/
    /*-o-transform: translateY(200px);*/
    /*-moz-transform: translateY(200px);*/

    transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -moz-transform: translateY(10px);

    /*transform: translateY(400%);*/
    /*-ms-transform: translateY(400%);*/
    /*-webkit-transform: translateY(400%);*/
    /*-o-transform: translateY(400%);*/
    /*-moz-transform: translateY(400%);*/
}

.menu-slide-up{
    /*transform: translate(0px,-200px);*/
    /*-ms-transform: translate(0px,-200px);*/
    /*-webkit-transform: translate(0px,-200px);*/
    /*-o-transform: translate(0px,-200px);*/
    /*-moz-transform: translate(0px,-200px);*/
}


























/*background-repeat: no-repeat;*/
/*background-attachment: fixed;*/
/*background-image:url('http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg');*/




/*background: rgb(27,27,27); *//* Old browsers */
/*background: -moz-linear-gradient(left,  rgba(27,27,27,1) 1%, rgba(66,66,66,1) 17%, rgba(73,73,73,1) 48%, rgba(56,56,56,1) 79%, rgba(27,27,27,1) 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(27,27,27,1)), color-stop(17%,rgba(66,66,66,1)), color-stop(48%,rgba(73,73,73,1)), color-stop(79%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); *//* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* IE10+ */
/*background: linear-gradient(left,  rgba(27,27,27,1) 1%,rgba(66,66,66,1) 17%,rgba(73,73,73,1) 48%,rgba(56,56,56,1) 79%,rgba(27,27,27,1) 100%); *//* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#1b1b1b',GradientType=1 ); *//* IE6-9 */






/*background-image:url('http://www.lzsu.com/uploads/Green-Fields-Cloudy-Weather-Desktop-Wallpaper.jpg');*/
/*background-repeat: no-repeat;*/
/*background-attachment: fixed;*/
/*background-repeat:no-repeat; *//*repeat will not occur on desktop*/
/*background-attachment:fixed !important;*//*this does not work on iphone & android. they will get the repeat declared above.*/