@import "src/css-preprocess/app/features/artists/artistGridWidget";
@import "src/css-preprocess/app/widgets/header";
.artist-page{
    height:100%;

  #headerWidget{
    position:fixed;
    top:0;  //fixes android 2.3 margin.
    left:0; //fixes android 2.3 margin.
    width:100%;
    //height:20%;
    #header{

    }
  }
  #artistsGridWidget{
    //height:80%;
    padding-top:150px;  //push down the artist grid so all items are visible (header is position fixed)
    #artistsGrid{
      //margin-top:50px;
      height:100%;
      //overflow: scroll;
      //-webkit-overflow-scrolling: touch;
    }
  }
}

.overflowscrolling {
  .artist-page{
    #artistsGridWidget{
      //works well on ios and android 4. chrome paints are a little slow.
      //terrible on android 2.3
      //overflow: scroll;
      //-webkit-overflow-scrolling: touch;
    }
  }
}


