@import "src/css-preprocess/app/features/artists/artistGridWidget";
.artist-page{
    height:100%;

  #headerWidget{
    height:20%;
  }
  #artistsGridWidget{
    height:80%;
    #artistsGrid{
      height:100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.overflowscrolling {
  .artist-page{
    #artistsGridWidget{
      //works well on ios and android 4. chrome paints are a little slow.
      //terrible on android 2.3
      //overflow: scroll;
      //-webkit-overflow-scrolling: touch;
    }
  }
}


