@import "src/css-preprocess/core/media-queries";
@import "src/css-preprocess/core/colors";

.speed{
  ////definite improvement!!
  transform: translate(0px,0px);
  -ms-transform: translate(0px,0px); /* IE 9 */
  -webkit-transform: translate(0px,0px); /* Safari and Chrome */
  -o-transform: translate(0px,0px); /* Opera */
  -moz-transform: translate(0px,0px); /* Firefox */
}
#artistsGrid{ //div

  //when the user clicks an artist, album, or song, these classes will be applied.
  .artist-selected{
    @include transparent-black-3;
    //background-color: black;    <-- no improvement

    @extend .speed;

  }

  .album-selected{
    @extend .transparent-white;
    @extend .speed;

  }

  .song-selected{
    @include transparent-blue(!important);   //nth-child is wonky in some browsers.
  }

  ul{ //artists

    @extend .speed;
    >li{ //artist's name
      @extend .speed;
      @extend .transparent-white;
      color: #E7DDD6;
      >dl{  //albums
        //@extend .light-grey-gradient;
        @extend .white-transparent;
        >dt{ //album name
          color:black;
          padding-left: 2%;
          padding-top: 2%;
          padding-bottom: 2%;

          >ol{ //song list

            >li{ //song name
              &:nth-child(even){
                @extend .transparent-grey;
              }
              &:nth-child(odd){
                @extend .transparent-white;
              }
            }
          }
        }
      }
    }
  }
}

@include mq(medium-and-below){
  #artistsGrid{ //div

    ul{


      >li{ //artist's name
        font-size:150%;
        padding: 2% 1% 2% 1%;
        >dl{  //albums
          >dt{ //album name

            >ol{  //songs
              >li{ //song name
                font-size:100%;
                padding:1%;
              }
            }

          }
        }

      }
    }
  }
}