@import "src/css-preprocess/core/media-queries";
@import "src/css-preprocess/core/colors";
@import "src/css-preprocess/util/speed";
@import "src/css-preprocess/core/animations";

#artistsGrid{ //div
  z-index:3;
  //@extend .speed;
  //when the user clicks an artist, album, or song, these classes will be applied.
  .artist-selected{
    //@extend .speed;

    &:nth-child(n){
      @include transparent-black-3;
    }

  }

  .album-selected{
    @extend .transparent-white;
    //@extend .speed;

  }

  .song-selected{
    @include transparent-blue(!important);   //nth-child is wonky in some browsers.
  }

  ul{ //artists

    @extend .speed-ipad;      //improves paint time on ipad, but negative side effects on android 2.2  & 2.3
    >li{ //artist's name
      @extend .speed-ipad;  //improves paint time on ipad, but negative side effects on android 2.2    & 2.3

      &:nth-child(even){
        @extend .white-transparent-2;
        //@extend .speed;
      }
      color: #E7DDD6;
      >dl{  //albums
        //@extend .light-grey-gradient;
        @extend .white-transparent;
        >dt{ //album name
          color:black;
          padding-left: 2%;
          padding-top: 2%;
          padding-bottom: 2%;

          >ol{ //song list

            >li{ //song name
              &:nth-child(even){
                @extend .transparent-grey;
              }
              &:nth-child(odd){
                @extend .transparent-white;
              }
            }
          }
        }
      }
    }
  }
}

@include mq(medium-and-below){
  #artistsGrid{ //div

    ul{
      >li{ //artist's name
        font-size:150%;
        padding: 2% 1% 2% 1%;
        >dl{  //albums
          >dt{ //album name

            >ol{  //songs
              >li{ //song name
                font-size:100%;
                padding:1%;
              }
            }

          }
        }

      }
    }
  }
}